<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="Location" value="NabuNetwork" />
    <add key="CustomCloud" value="ex: https://www.nabunetwork.com/cycle2022" />
    <add key="Mode" value="Serial" />
    <add key="SerialPort" value="COM4" />
    <add key="TcpipPort" value="5816" />
    <add key="AskForChannel" value="False" />
    <add key="BaudRate" value="111865" />
    <add key="Cycle" value="NABU Network 1984 Cycle v2 (Dec 2022)" />
    <add key="SelectedFunStuff" value="Demo: Plasma" />
    <add key="LocalPath" value="C:\NABU\" />
    <add key="SelectedArcade" value="Flip and Flop" />
    <add key="TcpNoDelay" value="True" />
    <add key="SaveSettingsOnExit" value="True" />
    <add key="DisableFlowControl" value="True" />
    <add key="ReceiveBuffer" value="8192" />
    <add key="SendBuffer" value="8192" />
    <add key="IgnoreCertificateErrors" value="False" />
    <add key="Headless" value="False" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
  </startup>
  <runtime>
    <bypassTrustedAppStrongNames enabled="false" />
  </runtime>
</configuration>
